<figure>
  <amp-img
    layout="responsive"
    width="16"
    height="9"
    srcset="{{ .file_url | replace "FREE" "LANDSCAPE" }} 1140w"
    alt="{{ .caption }}"></amp-img>
  <figcaption>
  {{ with .caption }}{{ . | replaceRe "<.*?>" "" }}{{ end }}
    <span class="author">
      {{- with .photographer}}{{ . }}{{ end }}
      {{- with .credit }} <span class="credit">{{ . }}</span>{{ end }}
    </span>
  </figcaption>
</figure>
