<figure>
  <amp-img
    layout="responsive"
    width="16"
    height="9"
    srcset="{{ .file_url | replace "FREE" "LANDSCAPE" }} 1140w"
    alt="{{ .caption }}"></amp-img>
  <figcaption>{{ .caption }}</figcaption>
</figure>
