<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <title>AMP story page design</title>
    {{- with .story }}
		<link rel="canonical" href="{{ .web_url }}">
    {{- end -}}

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
      {{- file "./css/atoms.css" | minify "text/css" }}
      {{- file "./css/molecules.css" | minify "text/css" }}
      {{- file "./css/masthead.css" | minify "text/css" }}
      {{- file "./css/footer.css" | minify "text/css" }}
      {{- file "./css/story.css" | minify "text/css" -}}
    </style>

    <!-- Relay media determines which ones the page needs instead of including everything -->
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-brightcove" src="https://cdn.ampproject.org/v0/amp-brightcove-0.1.js"></script>
    <script async custom-element="amp-soundcloud" src="https://cdn.ampproject.org/v0/amp-soundcloud-0.1.js"></script>
    <script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>
    <script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
    <script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  </head>
  <body>
    <amp-state id="menuState">
      <script type="application/json">
        {
          "visible": false
        }
      </script>
    </amp-state>

    {{ template "masthead.tmpl" . }}

    {{ with .story }}
    <article class="story paper">
      <header class="card-info page-header">
        {{ with ._links.home_section.asset }}
        <h6><a href="{{ .web_url }}" class="kicker">{{ .name }}</a></h6>
        {{ end }}
        <h1>{{ .title }}</h1>
        <div class="pubinfo">
          <address class="author">BY {{ .authors | pluck "name" | join " and " | upper }}</address>
          <time class="published-date" datetime="{{ .published_date }}">{{ dateFormat .published_date "2006-01-02T15:04:05Z" "Jan 2, 2006" }}, UPDATED {{ dateFormat .modified_date "2006-01-02T15:04:05Z" "humanize" }}</time>
          <div class="social-media">
            <a href="https://twitter.com/share?text={{ urlquery .title }}&url={{ urlquery .web_url }}">
							<svg data-name="twitter" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ urlquery .web_url }}">
							<svg data-name="facebook" viewBox="0 0 264 512"><path d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"/></svg>
            </a>
            <a href="mailto:?subject={{ urlquery .title }}&body={{ urlquery .web_url }}">
							<svg data-name="envelope" viewBox="0 0 512 512"><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>
            </a>
          </div>
        </div>
      </header>

      {{ template "lead-media.tmpl" . }}
      {{ template "body.tmpl" . }}

      {{ $relatedStories := where ._links.related ".href" "matches" "/v1/stories/" }}
      {{ with $relatedStories }}
      <div class="related-stories">
        <h5>RELATED STORIES</h5>
        {{ range . }}{{ with .asset }}
        <article class="card-info">
          {{- with ._links.home_section.asset }}
          <h6><a class="kicker" href="{{ .web_url }}">{{ .name }}</a></h6>
          {{- end }}
          <h3><a href="{{ .web_url }}">{{ .title }}</a></h3>
          <time>{{ dateFormat .published_date "2006-01-02T15:04:05Z" "Jan 2, 2006" }}</time>
        </article>
        {{ end }}{{ end }}
      </div>
      {{ end }}

			<div class="author-card">
				<div class="top-row">
					<amp-img 
						class="author-thumbnail"
						width="80"
						height="80"
						layout="fixed"
						src="./img/aaron_moody.jpg"></amp-img>
					<h6 class="author-name"><a href="mailto:amoody@newsobserver.com">AARON MOODY</a></h6>
					<div class="author-links">
						<a href="mailto:amoody@newsobserver.com">
							<svg data-name="envelope" viewBox="0 0 512 512"><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>
						</a>
						<a href="https://twitter.com/aaron_moody1">
							<svg data-name="twitter" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
						</a>
						<a href="#">
							<svg data-name="facebook" viewBox="0 0 264 512"><path d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"/></svg>
						</a>
					</div>
				</div>
				<p>Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</p>
				<div class="subscription-callout card-info">
					<h4>Support our work with a digital subscription</h4>
					<a class="more-link">SUBSCRIBE TODAY</a>
				</div>
			</div>

      <div class="nativo">
        <amp-ad type="nativo"
          width="349"
          height="377"
          layout="responsive"
          data-request-url="http://amp.kansascity.com/amp/news/politics-government/article221193305.html"></amp-ad>
      </div>
    </article>
    {{ end }}

    <div class="section grid">

      {{ with .latest }}
      <section data-feed="latest">
        <div class="paper">
          <div class="label">
            <h5>LATEST STORIES</h5>
          </div>
          {{ range .results | slice 0 5 }}{{ with ._links.self.asset }}
          <article class="card-info">
            <h3><a href="{{ .web_url }}">{{ .title }}</a></h3>
            <time>{{ dateFormat .published_date "2006-01-02T15:04:05Z" "Jan 2, 2006" }}</time>
          </article>
          {{ end }}{{ end }}
        </div>
        <a class="more-link" href="#/latest-news">MORE IN LATEST NEWS</a>
      </section>
      {{ end }}

      <!-- read next -->
      {{ with .readNext }}
      <article class="card" data-feed="readNext">
        <div class="label sticky">
          <h5>READ NEXT</h5>
        </div>
        {{ template "lead-media.tmpl" . }}
        <div class="card-info">
          {{ with ._links.home.section.asset }}
          <h6><a class="kicker" href="{{ .web_url }}">{{ .name }}</a></h6>
          {{ end }}
          <h1>{{ .title }}</h1>
          <address class="author">BY {{ .authors | pluck "name" | join " and " | upper }}</address>
          {{ template "pubtime.tmpl" . }}

          <!-- need to figure out how to pull paragraphs -->
          {{ findRe "(<p>.*?</p>).*?(<p>.*?</p>)" .body }}

          <a class="more-link" href="{{ .web_url }}">KEEP READING</a>
        </div>
      </article>
      {{ end }}

      <amp-ad class="section-ad" width="300" height="600" type="doubleclick" data-slot="/7675/KCM.site_kansascity/News"></amp-ad>

      {{ with .section }}
      <section data-feed="moreInSection">
        <h5 class="group-label">MORE IN SECTION</h5>
        <div class="grid">
          {{ range .results }}{{ with ._links.self.asset }}
          <article class="card from-section">
            {{ template "lead-media.tmpl" . }}
            <div class="card-info">
              {{ with ._links.home.section.asset }}
              <h6><a class="kicker" href="{{ .web_url }}">{{ .name }}</a></h6>
              {{ end }}
              <h3><a href="{{ .web_url }}">{{ .title }}</a></h3>
              {{ template "pubtime.tmpl" . }}
            </div>
          </article>
          {{ end }}{{ end }}
        </div>
      </section>
      {{ end }}
    </div>

    <!-- Zergnet -->
    <div class="zergnet">
      <amp-embed 
        width="768" 
        height="768"
        heights="(max-width: 320px) 630%, (max-width: 375px) 575%, (max-width: 420px) 550%, (max-width: 640px) 510%, (max-width: 769px) 460%, 140%"
        layout="responsive"
        type="zergnet" 
        data-zergid="53329"></amp-embed>
    </div>

    {{ template "footer.tmpl" . }}
    {{ template "main-nav.tmpl" . }}

    <amp-ad shim=".story > p:nth-of-type(5) + p" width="300" height="250" type="doubleclick" data-slot="/7675/KCM.site_kansascity/News"></amp-ad>
    <amp-ad shim=".story > p:nth-of-type(10) + p" width="300" height="250" type="doubleclick" data-slot="/7675/KCM.site_kansascity/News"></amp-ad>
    <amp-ad shim=".story > p:nth-of-type(15) + p" width="300" height="250" type="doubleclick" data-slot="/7675/KCM.site_kansascity/News"></amp-ad>
    <amp-ad shim=".story > p:nth-of-type(20) + p" width="300" height="250" type="doubleclick" data-slot="/7675/KCM.site_kansascity/News"></amp-ad>
    <amp-ad shim=".story > p:nth-of-type(25) + p" width="300" height="250" type="doubleclick" data-slot="/7675/KCM.site_kansascity/News"></amp-ad>
    <amp-ad shim=".story > p:nth-of-type(30) + p" width="300" height="250" type="doubleclick" data-slot="/7675/KCM.site_kansascity/News"></amp-ad>

  </body>
</html>
