{{ $scratch := scratch }}
{{ $scratch.Set "code" "" }}
{{ $scratch.Set "body" (.body | replaceRe "^<div xmlns.*?>" "" | replaceRe "</div>$" "" | replaceRe "<p dir=\"ltr\">" "<p>") }}

{{ range ._embedded.inline }}
{{ $injectionPoint := printf "<p>[[:space:]]*<!-- %%asset:%.f(.*?)%% -->[[:space:]]*</p>" .id }}

{{ with ._links.self.asset }}
  {{ if .brightcove_id }}
  {{ $scratch.Set "code" (partial "templates/amp/amp-brightcove.tmpl" .) }}

  {{ else if .file_url }}
  {{ $scratch.Set "code" (partial "templates/amp/amp-img.tmpl" .) }}

  {{ else }}
  {{ with .embed_code }}
    {{ if (matchRe "facebook.com" .) }}
    {{ $scratch.Set "code" (partial "templates/amp/amp-facebook.tmpl" .) }}

    {{ else if (matchRe "twitter.com" .) }}
    {{ $scratch.Set "code" (partial "templates/amp/amp-twitter.tmpl" .) }}

    {{ else if (matchRe "instagram.com" .) }}
    {{ $scratch.Set "code" (partial "templates/amp/amp-instagram.tmpl" .) }}

    {{ else if (matchRe "youtube.com" .) }}
    {{ $scratch.Set "code" (partial "templates/amp/amp-youtube.tmpl" .) }}

    {{ else if (matchRe "soundcloud.com" .) }}
    {{ $scratch.Set "code" (partial "templates/amp/amp-soundcloud.tmpl" .) }}
    {{ end }}
  {{ end }}

  {{ end }}
{{ end }}
  
{{ $scratch.Set "body" (replaceRe $injectionPoint ($scratch.Get "code") ($scratch.Get "body")) }}
{{ end }} 

{{ $scratch.Get "body" }}
