<div class="inline-gallery">
				<amp-carousel id="inline-gallery-slides-1" class="ig-slides" width="16" height="12" layout="responsive" type="slides">
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/4yvlws/picture222704160/alternates/LANDSCAPE_768/02"
							width="768" height="516" layout="responsive"></amp-img>
						<figcaption>North Carolina's Kenny Williams steps on the court for the Tar Heels' game against UNC Wilmington on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C.</figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/vmib1w/picture222704165/alternates/FREE_768/03"
							width="768" height="553" layout="responsive"></amp-img>
						<figcaption>UNC Wilmington's Jeantal Cylla (2) works for a defensive rebound over North Carolina's Garrison Brooks (15) during the first half on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C.</figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/kycm6/picture222704170/alternates/FREE_768/04"
							width="768" height="503" layout="responsive"></amp-img>
						<figcaption>North Carolina's Cameron Johnson (13) drives to the basket against UNC Wilmington's Kai Toews (10) and Jaylen Fornes (1) during the first half on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C. Johnson lead all scores with 21 points in the Tar Heels' 97-69 victory. North Carolina's Cameron Johnson (13) drives to the basket against UNC Wilmington's Kai Toews (10) and Jaylen Fornes (1) during the first half on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C. Johnson lead all scores with 21 points in the Tar Heels' 97-69 victory.</figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/ywotih/picture222704200/alternates/FREE_768/10"
							width="768" height="518" layout="responsive"></amp-img>
						<figcaption>UNC Wilmington head coach C.B. McGrath applauds early first half play against North Carolina on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C.</figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/kycm6/picture222704170/alternates/FREE_768/04"
							width="768" height="503" layout="responsive"></amp-img>
						<figcaption>North Carolina's Cameron Johnson (13) drives to the basket against UNC Wilmington's Kai Toews (10) and Jaylen Fornes (1) during the first half on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C. Johnson lead all scores with 21 points in the Tar Heels' 97-69 victory.</figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/ywotih/picture222704200/alternates/FREE_768/10"
							width="768" height="518" layout="responsive"></amp-img>
						<figcaption>UNC Wilmington head coach C.B. McGrath applauds early first half play against North Carolina on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C.</figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/4yvlws/picture222704160/alternates/FREE_768/02"
							width="768" height="516" layout="responsive"></amp-img>
						<figcaption>North Carolina's Kenny Williams steps on the court for the Tar Heels' game against UNC Wilmington on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C.</figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/vmib1w/picture222704165/alternates/FREE_768/03"
							width="768" height="553" layout="responsive"></amp-img>
						<figcaption>UNC Wilmington's Jeantal Cylla (2) works for a defensive rebound over North Carolina's Garrison Brooks (15) during the first half on Wednesday, December 5, 2018 at the Smith Center in Chapel Hill, N.C.</figcaption>
					</figure>
				</amp-carousel>
				<amp-carousel class="ig-thumbs" width="auto" height="90" layout="fixed-height">
					<button on="tap:inline-gallery-slides-1.goToSlide(index=0)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/4yvlws/picture222704160/alternates/LANDSCAPE_160/02"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=1)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/vmib1w/picture222704165/alternates/LANDSCAPE_160/03"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=2)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/kycm6/picture222704170/alternates/LANDSCAPE_160/04"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=3)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/ywotih/picture222704200/alternates/LANDSCAPE_160/10"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=4)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/kycm6/picture222704170/alternates/LANDSCAPE_160/04"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=5)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/ywotih/picture222704200/alternates/LANDSCAPE_160/10"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=6)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/4yvlws/picture222704160/alternates/LANDSCAPE_160/02"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=7)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/vmib1w/picture222704165/alternates/LANDSCAPE_160/03"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
				</amp-carousel>
			</div>
