<div class="inline-gallery">
				<amp-carousel id="inline-gallery-slides-1" class="ig-slides" width="16" height="12" layout="responsive" type="slides">
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/4yvlws/picture222704160/alternates/LANDSCAPE_768/02"
							width="768" height="516" layout="responsive"></amp-img>
						<figcaption class="author">By <a href="#">JOHN DOE</a> <span class="credit">The Kansas City Star</span></figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/vmib1w/picture222704165/alternates/FREE_768/03"
							width="768" height="553" layout="responsive"></amp-img>
						<figcaption class="author">By <a href="#">JOHN DOE</a> <span class="credit">The Kansas City Star</span></figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/kycm6/picture222704170/alternates/FREE_768/04"
							width="768" height="503" layout="responsive"></amp-img>
						<figcaption class="author">By <a href="#">JOHN DOE</a> <span class="credit">The Kansas City Star</span></figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/ywotih/picture222704200/alternates/FREE_768/10"
							width="768" height="518" layout="responsive"></amp-img>
						<figcaption class="author">By <a href="#">JOHN DOE</a> <span class="credit">The Kansas City Star</span></figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/kycm6/picture222704170/alternates/FREE_768/04"
							width="768" height="503" layout="responsive"></amp-img>
						<figcaption class="author">By <a href="#">JOHN DOE</a> <span class="credit">The Kansas City Star</span></figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/ywotih/picture222704200/alternates/FREE_768/10"
							width="768" height="518" layout="responsive"></amp-img>
						<figcaption class="author">By <a href="#">JOHN DOE</a> <span class="credit">The Kansas City Star</span></figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/4yvlws/picture222704160/alternates/FREE_768/02"
							width="768" height="516" layout="responsive"></amp-img>
						<figcaption class="author">By <a href="#">JOHN DOE</a> <span class="credit">The Kansas City Star</span></figcaption>
					</figure>
					<figure>
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/vmib1w/picture222704165/alternates/FREE_768/03"
							width="768" height="553" layout="responsive"></amp-img>
						<figcaption class="author">By <a href="#">JOHN DOE</a> <span class="credit">The Kansas City Star</span></figcaption>
					</figure>
				</amp-carousel>
        <h5 class="ig-title">GALLERY TITLE</h5>
				<amp-carousel class="ig-thumbs" width="auto" height="90" layout="fixed-height">
					<button on="tap:inline-gallery-slides-1.goToSlide(index=0)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/4yvlws/picture222704160/alternates/LANDSCAPE_160/02"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=1)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/vmib1w/picture222704165/alternates/LANDSCAPE_160/03"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=2)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/kycm6/picture222704170/alternates/LANDSCAPE_160/04"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=3)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/ywotih/picture222704200/alternates/LANDSCAPE_160/10"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=4)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/kycm6/picture222704170/alternates/LANDSCAPE_160/04"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=5)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/ywotih/picture222704200/alternates/LANDSCAPE_160/10"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=6)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/4yvlws/picture222704160/alternates/LANDSCAPE_160/02"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
					<button on="tap:inline-gallery-slides-1.goToSlide(index=7)">
						<amp-img src="https://www.newsobserver.com/sports/college/acc/unc/vmib1w/picture222704165/alternates/LANDSCAPE_160/03"
							 	width="160" height="90" layout="responsive" alt="">
					</button>
				</amp-carousel>
			</div>
