/**
 * Generic card
 */

.card {
  padding: 10px;
  background-color: white;
  border: 1px solid #efefef;
  border-bottom: var(--border);
}

.card :first-child {
  margin-top: 0;
}

.card :last-child {
  margin-bottom: 0;
}

.card.flush {
  padding: 0;
}

/**
 * Article card
 */

article.card {
  position: relative;
  box-sizing: border-box;
  padding: 0;
}

article.card .story-info {
  padding: 10px 20px;
  margin: 0;
}

article.card .story-info > * {
  margin: 6px 0;
}

article.card .story-info > :last-child {
  margin-bottom: 0;
  margin-bottom: 0;
}

/**
 * Thumb card
 */

article.thumb {
  display: flex;
}

article.thumb figure {
  padding-top: calc(30% * 0.5625);
  width: 30%;
}

article.thumb .story-info {
  flex: 1;
}

.right-side article.thumb figure {
  order: 1;
}

/**
 * Text card
 */

article.headline {
  border: none;
  border-bottom: 1px solid #efefef;
}

/**
 * Video card
 */

article.video .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
}

article.video .video-play {
  height: 48px;
  width: 48px;
  fill: white;
  stroke: none;
  cursor: pointer;
}

article.video .runtime {
  font: 600 14px "McClatchy Sans";
  margin-left: 10px;
  color: white;
}

/**
 * Labels
 */

.more-link {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font: 500 15px/1.1em "McClatchy Sans";
  color: #757575;
}

.more-link:after {
  content: "+";
  font-weight: 600;
  font-size: 1.7em;
  margin-left: 4px;
}

/**
 * Ads
 */

.ad {
  width: 300px;
  height: 250px;
  background-color: #757575;
  align-self: center;
  justify-self: center;
}

/**
 * Weather card
 */

.forecast {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.weather-icon, .weather-details {
  padding: 10px;
}

.weather-icon img {
  height: 80px
}

.weather-details h2 {
  margin: 0;
  font: 400 54px "McClatchy Serif"
}

.weather-details h5 {
  margin: 0;
  display: flex;
  align-content: center;
}

.weather-details h5 img {
  height: 20px;
  margin-right: 5px;
}

.weather .more-link {
  border-top: 2px solid #757575;
  padding-top: 5px;
}
