.main {
  display: grid;
  grid-gap: var(--gap);
  padding: var(--gap) 15px;

  /* h5 height + bottom margin + 1px border  */
  --label-height: calc(1rem + 9px);
}

/**
 * iPad
 */

@media (min-width: 655px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .main > * {
    grid-column: 1 / span 2;
  }

  .rail {
    grid-column: 1;
  }
  
  .food {
    grid-column: 2;
  }

  .featured-videos {
    grid-row: 3;
    grid-column: 1;
  }

  .in-depth {
    grid-column: 2;
  }
}

/**
 * Desktop
 */

@media (min-width: 1000px) {
  .main {
    padding: var(--gap) 0;
    grid-template-columns: 1fr 300px minmax(auto, calc(900px - var(--gap))) 1fr;
  }

  .main > * {
    grid-column: 2 / span 2;
  }

  .featured { 
    grid-row: 1;
    grid-column: 3;
  }

  .rail { 
    grid-row: 1;
    grid-column: 2;
  }

  .rail .ad {
    grid-row: 3;
    height: 600px;
  }
  
  .food {
    grid-template-columns: minmax(450px, 1fr) 300px;
  }

  .in-depth .card:not(.thumb) .story-info {
    position: absolute;
    bottom: 0;
  }
}

/**
 * Flyby customer example
 * Desktop only
 */

@media (min-width: 1200px) {
  [persona=flyby] {
    grid-template-columns: 1fr [left] 300px [middle] minmax(auto, calc(600px - var(--gap) * 2)) [right] 300px 1fr;
  }

  [persona=flyby] > * {
    grid-column: 2 / span 3;
  }

  [persona=flyby] .featured { 
    grid-column: middle;
  }

  [persona=flyby] .rail { 
    grid-column: left;
  }

  [persona=flyby] .food {
    grid-column: right;
  }

  [persona=flyby] .rail .weather {
    grid-row: 3;
  }

  [persona=flyby] .rail .ad {
    grid-row: 1;
    margin-top: var(--label-height);
  }

  [persona=flyby] .food {
    grid-template-columns: 1fr;
  }

  [persona=flyby] .food .ad {
    grid-row: 1;
    margin-top: var(--label-height);
  }

  [persona=flyby] .featured-videos {
    grid-row: 2;
  }

  [persona=flyby] .spill {
    grid-row: 3;
  }
}
