/**
 * Section
 */

.section > * {
  margin-top: 50px;
}

.paper + .more-link {
  padding-left: var(--spacing);
}

/**
 * More from section
 */

.group-label {
  margin: var(--spacing);
  font-weight: 700;
}

.from-section figcaption {
  display: none;
}
